<p>deletepsycho works!</p>
<h3>Delete Psychologue</h3>
<div>
    <div>
        <label> <b> Psychologue ID: </b></label> {{psychologue.psychologueId}}
    </div>
    <div>
        <label> <b> Nom: </b></label> {{psychologue.nom}}
    </div>
    <div>
        <label> <b> Prenom: </b></label> {{psychologue.prenom}}
    </div>
    <div>
        <label> <b> Email: </b></label> {{psychologue.email}}
    </div>
    <div>
        <label> <b> Phone Number: </b></label> {{psychologue.phonenumber}}
    </div>
    <!-- Add other properties as needed -->
    <p>Are you sure you want to delete this psychologue?</p>
    <button (click)="deletePsychologue()">Delete Psychologue</button>
</div>
