<div>
    <div class="container shadow my-5">
      <div class="row">
        <div
          class="col-md-5 d-flex flex-column
               align-items-center text-white justify-content-center formm"
        >
          <h1 class="display-4 fw-bolder">Welcome Back</h1>
          <p class="lead text-center">
            Enter Your Email And Password To Login
          </p>
          <h5 class="mb-4">OR</h5>
          <a class="nav-link" routerLink="../register" routerLinkActive="active-link">
            Register
          </a>
        </div>
        <div class="col-md-6 p-5">
          <h1 class="display-6 fw-bolder mb-5 ">LOGIN</h1>

          <form class="logform">
            <div class="mb-3 pass">
              <i class="fas fa-envelope"></i>
              <input
                placeholder="E-mail"
                type="email"
                class="form-control"
                id="exampleInputEmail1"
                aria-describedby="emailHelp"
                name="email"
              
              />
            </div>

            <div class="mb-3 pass">
              <i class="fas fa-lock"></i>
              <input
                placeholder="Password"
                type="password"
                class="form-control"
                id="exampleInputPassword1"
                name="password"
                
              />
            </div>
         
            
            <button
              type="submit"
              class="btn btn-primary  mt-4 rounded-pill btlog"
            
            >
              Login
            </button>
          
             
                <h5 class="mb-4">Forget Password ?</h5>
              
            
          </form>
        </div>
      </div>
    </div>
   
  </div>