<div>
  <h2>Add RapportPsy</h2>
  <form (ngSubmit)="addRapportPsy()">
    <label for="description">Description:</label>
    <input type="text" id="description" name="description" [(ngModel)]="newRapportPsy.description" required>

    <label for="dateRappPs">Date:</label>
    <input type="date" id="dateRappPs" name="dateRappPs" [(ngModel)]="newRapportPsy.dateRappPs" required>

    <label for="psychologue">Psychologue:</label>
    <select id="psychologue" name="psychologue" [(ngModel)]="newRapportPsy.psychologue">
      <option *ngFor="let psychologue of psychologues" [ngValue]="psychologue">{{psychologue.psychologueId}}{{ psychologue.nom }} {{ psychologue.prenom }}</option>
    </select>

    <label for="client">Client:</label>
    <select id="client" name="client" [(ngModel)]="newRapportPsy.client">
      <option *ngFor="let client of clients" [ngValue]="client">{{client.clientId}}{{ client.nom }} {{ client.prenom }}</option>
    </select>

    <button type="submit">Add RapportPsy</button>
  </form>
</div>
