<div class="container">
  <h2 class="title">List of Consultations</h2>
  
  <ng-container *ngIf="consultations && consultations.length > 0; else noConsultations">
    <ul class="consultation-list">
      <li *ngFor="let consultation of consultations" class="consultation-item">
        <div class="consultation-details">
          <h3>{{ consultation.consultationdate| date: 'medium' }}</h3>
          <p><strong>Client:</strong> {{ consultation.psychiatrist }}</p>
          <p><strong>Psychiatrist:</strong> {{ consultation.client }}</p>
          <p><strong>Description:</strong> {{ consultation.startTime }}</p>
        </div>
      </li>
    </ul>
  </ng-container>
  
  <ng-template #noConsultations>
    <p class="no-consultation-message">No consultations available.</p>
  </ng-template>
</div>
