<table class="table bg-white rounded shadow-sm table-hover">
  <thead>
    <tr>
      <th scope="col">Nom</th>
      <th scope="col">Email</th>
      <th scope="col">Gender</th>
      <th scope="col">Rating</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of users">
      <td>{{ user.username }}</td>
      <td>{{ user.email }}</td>
      <td>{{ user.gender }}</td>
      <td>
        <span class="rating-stars">
          <ng-container *ngFor="let star of getStars(user.rating)">
            <i class="fas fa-star"></i>
          </ng-container>
        </span>
      </td>
      <td>
        <button class="btn btn-danger" (click)="user.id && reserveConsultation(user.id)">Reserve</button>
        <a [routerLink]="['/rating', user.id]" class="btn btn-primary">Rate</a>
      </td>
    </tr>
  </tbody>
</table>