<br>
<div *ngFor="let recipe of recipes">
<div [id]="'confirmationAlert' + recipe.idRecepies" class="alert alert-danger" role="alert" style="display: none;">
    Êtes-vous sûr de vouloir supprimer cette recette ?<br>
    <button type="button" class="btn btn-danger" (click)="deleteRecipe(recipe.idRecepies)">Oui</button>
    <button type="button" class="btn btn-secondary" (click)="cancelDelete(recipe.idRecepies)">Non</button>
</div></div>
<div class="container">
    <div class="row justify-content-center"> <!-- Utilisez la classe justify-content-center pour centrer le contenu horizontalement -->
      <div class="col-md-8">
        <div class="card">
          <h5 class="card-header">Latest Recipe</h5>
          <button mat-button (click)="openModal(template)">
            <i class="fa fa-plus-square" aria-hidden="true"></i> Ajouter un nouveau
        </button>
        <!-- Affichage de l'alerte de succès -->
<div *ngIf="successMessage" class="alert alert-success">
    {{ successMessage }}
  </div>
  
  <!-- Affichage de l'alerte d'erreur -->
  <div *ngIf="errorMessage" class="alert alert-danger">
    {{ errorMessage }}
  
  </div>
        <ng-template #template>
            <div class="modal-header">
              <h4 class="modal-title pull-left">Ajouter un nouveau recette</h4>
              <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="modalRef?.hide()">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form (submit)="addRecipe()">
                <!-- Ajoutez les champs pour saisir les détails de la nouvelle recette ici -->
                <div class="form-group">
                    <label for="recipeDescription">Description de la recette:</label>
                    <textarea class="form-control" id="recipeDescription" [(ngModel)]="newRecipe.description" name="description"></textarea>
                </div>
                <br>
                 
                <div class="form-group">
                    <label for="ingredientSet">Ingrédients:</label>
                  
                    <div>
                         <div *ngFor="let ingredientSet of ingredientSets">
                            <input type="checkbox" [value]="ingredientSet" [checked]="isSelected(ingredientSet)" (change)="toggleSelection(ingredientSet)">
                            {{ ingredientSet.products }}
                        </div>
                    </div>
                </div>
                
                
                <!-- Ajoutez d'autres champs nécessaires -->
          <br>
          <br>
                <button type="submit" class="btn btn-primary">Ajouter</button>
 
              </form>
            </div>
          </ng-template>
          <ng-template #template1>

          <div class="modal-body">
            <h4 class="modal-title pull-left">Modifier recette</h4>
          <br>
            <form (submit)="updateRecipe(recipe.idRecepies,recipe)">
              <!-- Ajoutez les champs de mise à jour de la recette ici -->
              <div class="form-group">
                <br>
                <label for="recipeDescription">Description de la recette:</label>
                <textarea class="form-control" id="recipeDescription" [(ngModel)]="recipe.description" name="description"></textarea>
              </div>
              <div class="form-group">
                <br>
                <label for="ingredientSet">Ingrédients:</label>
                <div>
                  <div *ngFor="let ingredientSet of ingredientSets">
                    <input type="checkbox" [value]="ingredientSet" [checked]="isSelected(ingredientSet)" (change)="toggleSelection(ingredientSet)">
                    {{ ingredientSet.products }}
                  </div>
                </div>
              </div>
              <br>
              <button type="submit" class="btn btn-primary">Update</button>
            </form>
          </div></ng-template>
          
          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">Recipe ID</th>
                  <th scope="col">Description</th>
                  <th scope="col">Ingredients</th>
                  <th scope="col">Actions</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let recipe of recipes">
                  <td>{{ recipe.idRecepies }}</td>
                  <td>{{ recipe.description }}</td>
                  <td>
                    <ul>
                      <li *ngFor="let ingredient of recipe.ingredients">
                        {{ ingredient.products }}
                      </li>
                    </ul>
                  </td>
                  <td>
                    <button type="button" class="btn btn-link btn-lg btn-rounded text-success"     (click)="openUpdateRecipeModal(template1,recipe.idRecepies)" >
                        <i class="fa fa-pencil"></i>
                      </button>
                    <button type="button" class="btn btn-link btn-lg btn-rounded text-danger" (click)="confirmDelete(recipe.idRecepies)">
                        <i class="fas fa-trash"></i>
                      </button>
                              
                    </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
 