


<div [ngClass]="status ? 'toggled' : ''" class="d-flex" id="wrapper" >
  <!-- Sidebar -->
  <div class="bg-white" id="sidebar-wrapper" style="width: 20%;">
      <div class="sidebar-heading text-center py-4 primary-text fs-4 fw-bold text-uppercase border-bottom"><i
              class="fas fa-user-secret me-2"></i>Admin</div>
      <div class="list-group list-group-flush my-3">
          <a href="#" class="list-group-item list-group-item-action bg-transparent second-text active"><i
                  class="fas fa-tachometer-alt me-2"></i>Dashboard</a>
          <a href="#" class="list-group-item list-group-item-action bg-transparent second-text fw-bold"><i
                  class="fas fa-project-diagram me-2"></i>Projects</a>
          <a href="#" class="list-group-item list-group-item-action bg-transparent second-text fw-bold"><i
                  class="fas fa-chart-line me-2"></i>Analytics</a>
          <a href="#" class="list-group-item list-group-item-action bg-transparent second-text fw-bold"><i
                  class="fas fa-paperclip me-2"></i>Reports</a>
          <a href="#" class="list-group-item list-group-item-action bg-transparent second-text fw-bold"><i
                  class="fas fa-shopping-cart me-2"></i>Store Mng</a>
          <a href="#" class="list-group-item list-group-item-action bg-transparent second-text fw-bold"><i
                  class="fas fa-gift me-2"></i>Products</a>
          <a href="#" class="list-group-item list-group-item-action bg-transparent second-text fw-bold"><i
                  class="fas fa-comment-dots me-2"></i>Chat</a>
          <a href="#" class="list-group-item list-group-item-action bg-transparent second-text fw-bold"><i
                  class="fas fa-map-marker-alt me-2"></i>Outlet</a>
          <a href="#" class="list-group-item list-group-item-action bg-transparent text-danger fw-bold"><i
                  class="fas fa-power-off me-2"></i>Logout</a>
      </div>
  </div>
  <!-- /#sidebar-wrapper -->

  <!-- Page Content -->
  <div id="page-content-wrapper" style="width: 100%;">
      <nav class="navbar navbar-expand-lg navbar-light bg-transparent py-4 px-4">
          <div class="d-flex align-items-center">
            
              <h2 class="fs-2 m-0">Dashboard</h2>
          </div>

          <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
              data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
              aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                  <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle second-text fw-bold" href="#" id="navbarDropdown"
                          role="button" data-bs-toggle="dropdown" aria-expanded="false">
                          <i class="fas fa-user me-2"></i>John Doe
                      </a>
                      <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                          <li><a class="dropdown-item" href="#">Profile</a></li>
                          <li><a class="dropdown-item" href="#">Settings</a></li>
                          <li><a class="dropdown-item" href="#">Logout</a></li>
                      </ul>
                  </li>
              </ul>
          </div>
      </nav>
      
      <!-- <div class="rapport-psy-list">
        <h1>List of Rapport Psy</h1>
        <ul>
          <li *ngFor="let rapportPsy of rapportPsyList" class="rapport-psy-item">
            <div>
              <strong>ID: {{ rapportPsy.idRapportPsy }}</strong>
              <p>Description: {{ rapportPsy.description }}</p>
              <p>Date: {{ rapportPsy.dateRappPs | date: 'short' }}</p>
              <p>Psychologue: {{ rapportPsy.psychologue?.nom }}</p>
              <p>Client: {{ rapportPsy.client?.nom }}</p>
               Add other properties as needed 
      
               Add button to navigate to /edit-rapport route
              <button routerLink="/edit-rapportpsy/{{rapportPsy.idRapportPsy}}" class="action-button">edit</button>
              <a routerLink="/show-rapportpsy/{{rapportPsy.idRapportPsy}}" class="btn btn-info" style="margin-left: 10px">View</a>
              <a routerLink="/delete-rapportpsy/{{rapportPsy.idRapportPsy}}" class="btn btn-info" style="margin-left: 10px">delete</a>
            </div>
          </li>
        </ul>
        <button routerLink="/add-rapportpsy" class="action-button">add</button>
      </div> -->
      
      
      <div class="row my-5">
          <h3 class="fs-4 mb-3">Rapports List</h3>
          
          <div class="col">
              <input type="text" [(ngModel)]="searchTerm" placeholder="filter through rapports" class="search-input mb-2">
        
        <table class="table bg-white rounded shadow-sm table-hover">
        <thead>
        <tr>
        <th scope="col">id</th>
        <th scope="col">description</th>
        <th scope="col">date</th>
        <th scope="col">psychologue</th>
        <th scope="col">patient</th>
        </tr>
        </thead>
        <tbody>
        <ng-container *ngIf="rapport && rapport.length">
        <tr *ngFor="let prods of rapport">
          <!-- Check if searchTerm is empty or if the product matches the search term -->
          <ng-container *ngIf="!searchTerm || 
                             prods.client?.nom?.toLocaleLowerCase()?.includes(searchTerm.toLowerCase())||
                                 prods.description?.toLocaleLowerCase()?.includes(searchTerm.toLowerCase()) ||  prods.psychologue?.nom?.toLocaleLowerCase()?.includes(searchTerm.toLowerCase()) 
                               ">
              <td>{{ prods.idRapportPsy }}</td>
              <td>{{ prods.description }}</td>
              <td>{{ prods.dateRappPs }} </td>
              <td>{{ prods.psychologue?.nom }}</td>
              <td>{{prods.client?.nom}}</td>
              <a [routerLink]="['/admin/edit-rapportpsy', prods.idRapportPsy]" class="btn btn-danger"style="margin-left: 10px">Edit</a>
              <a [routerLink]="['/admin/showrapportpsy/', prods.idRapportPsy]" class="btn btn-info">show</a>
              
          </ng-container>
        </tr>
        </ng-container>
        <tr *ngIf="(!rapport || rapport.length === 0) && searchTerm">
        <td colspan="4">No matching products found.</td>
        </tr>
        </tbody>
        </table>
    
 
      </div>