.mainSection {
  display: flex;

  justify-content: space-around;
  align-items: center;

  background: Orgb(0, 101, 219);
  background: linear-gradient(
    45deg,
    rgba(255, 255, 255, 0.9) 50%,
    rgb(206, 206, 206) 50%
  );
  min-height: 500px;
}
